.content{
    color: #000000;
}

.download{
    display: inline-block;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    margin: 0px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background: rgb(255, 97, 47);
    font-family: Inter, Segoe UI, Helvetica Neue, sans-serif;;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}
